<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%=htmlWebpackPlugin.options.title %></title>
  <base href="/">
  <meta name="description" content="<%=htmlWebpackPlugin.options.metadata.description %>">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>

  <% if (webpackConfig.htmlElements.headTags) { %>
  <!-- Configured Head Tags  -->
  <%=webpackConfig.htmlElements.headTags %>
  <% } %>
  <% if (htmlWebpackPlugin.options.metadata.isDevServer) { %>
  <script src="/webpack-dev-server.js"></script>
  <% } %>

  <script src="//cdnjs.cloudflare.com/ajax/libs/pace/1.0.2/pace.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/vue/2.1.8/vue.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/vue-router/2.1.1/vue-router.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/vuex/2.1.1/vuex.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/axios/0.15.3/axios.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/script.js/2.5.8/script.min.js"></script>
  <!--<script src="//cdnjs.cloudflare.com/ajax/libs/headjs/1.0.3/head.min.js"></script>-->
  <script src="//cdnjs.cloudflare.com/ajax/libs/element-ui/1.1.5/index.js"></script>

  <script src="//cdnjs.cloudflare.com/ajax/libs/holder/2.9.4/holder.min.js"></script>

</head>
<body>
<div id="app">
</div>
</body>
</html>
